*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: url('bg.png') no-repeat center center/cover;
    width:cover;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
    color:gold;
    text-shadow: 4px 6px 10px rgb(249, 246, 68);

}
.clockcontainer{
    position:absolute;
    left:450px;
    /* border:2px solid red; */
    height:40vw;
    width:40vw;
    background: url('image.png') no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position:absolute;
    background:gold;
    border-radius:10px;
}
#hour{
    width:1%;
    height: 20%;
    top: 30%;
    left: 49.8%;
    opacity: 0.8;
    transform-origin: bottom;
}
#minute{
    width:0.7%;
    height: 24%;
    top: 26%;
    left: 49.8%;
    opacity: 0.8;
    /* display: none; */
    transform-origin: bottom;
}
#second{
    width:0.5%;
    height: 32%;
    top: 18%;
    left: 49.8%;
    opacity: 0.8;
    /* display:none; */
    transform-origin: bottom;
}